API_BASE_URL=http://ec2-54-94-29-221.sa-east-1.compute.amazonaws.com:8000
API_USERNAME=your-username
API_PASSWORD=your-password
DATABASE_URL=postgresql+psycopg2://pokemon_analytics_db_user:Ik2BIVACDGshGiMgWmvH9dpRceBmOaER@dpg-d6hi5krh46gs73e83dq0-a.oregon-postgres.render.com/pokemon_analytics_db
